@import 'header.css';
@import 'global.css';
@import 'variables.css';
@import 'footer.css';

.addButton{
    width: 85%;
    padding: 15px;
    font-size: 1.25em;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.addButton:active{
    background-color: var(--dark-text);
}

#add-food-form {
    line-height: 3em;
    padding: 10%;
    text-align: center;
}

#add-food-form-button {
    background-color: var(--dark-text);
    color: white;
    font-size: 1.2em;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    margin: 10% 30% 0 30%;;
}

.addFoodModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.addFoodModal-content{
    background-color: var(--accent-color);
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    width:90%;
    max-width: 520px;
    box-sizing: border-box;
}

.close-button {
    float: right;
    font-size: 3em;
    color: var(--dark-text);
}

.close-button:hover, .close-button:focus {
    color: var(--secondary-color);
    cursor: pointer;
}

.foodItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    font-size: 1.1em;
    opacity:.01;
    transition: 1s;
}

.foodItem.show{
    opacity: 1;
}

.foodTitle{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: var(--dark-text);
}

.macros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--accent-color);
    width: 50%;
    aspect-ratio: 4.5/1;
    color: var(--dark-text);
}

.open {
    display: block;
}

#searchResults{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    max-height:0px;
    overflow: hidden;
    transition: 2s;
}

#searchResults.show{
    max-height: 10000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}

#searchButton{
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

#searchForm {
    margin: 10px;
    /* border: 1px solid var(--accent-color); */
    border-radius: 10px;
    
}

#searchInput {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--dark-text);
}