footer{
    background-color: var(--secondary-color);
    width:100%;
    box-sizing: border-box;
}
footer i{
    color: var(--accent-color);
}

footer .active i{
    color: var(--secondary-color);
}

footer .navItem{
    width:33%;
    text-align:center;
    height:100%;
    align-content: center;
    aspect-ratio: 1/1;
}

footer .navItem.active{
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

footer nav{
    height:100%;
}

footer nav ul{
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0;
    list-style: none;
    max-width: 800px;
    margin: auto;
}