@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--dark-text) var(--light-text);
}

a {
    text-decoration: none;
    color: black;
    line-height: 1.5em;
}

a:hover {
    color: var(--dark-text);
    text-decoration: underline;
}

body{
    height:auto;
    background-color: var(--dark-text);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    position: absolute;
    bottom:0;
    height:80px;
}

header{
    position: relative;
    top:0;
    align-content: center;
    height:80px;
}

main {
    text-align: center;
    background-color: var(--light-text);
    overflow-y: auto;
    position:relative;
    top:0;
    width:100%;
    max-width: 520px;
    height: calc(100vh - 160px);
    padding:10px;
    box-sizing: border-box;
}
 .pageTitle{
    box-sizing: border-box;
    font-size: 2em;
    padding-top: 20px;
    margin-bottom: 5px;
    color: var(--dark-text);
 }