@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
    line-height: 1.5em;
}

a:hover {
    color: var(--dark-text);
    text-decoration: underline;
}

body{
    /* display: grid; */
    /* grid-template-rows: 10% 80% 10%; */
    height:auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    position: absolute;
    bottom:0;
    height:60px;
}

header{
    position: relative;
    top:0;
    height:60px;
}

main {
    text-align: center;
    /* height:80vh; */
    overflow-y: scroll;
    position:relative;
    top:0;
    /* grid-row:2/3; */
    width:100%;
    max-width: 520px;
    max-height: calc(100vh - 120px);
}
 .pageTitle{
    box-sizing: border-box;
    font-size: 2em;
    padding-top: 20px;
    margin-bottom: 5px;
    color: var(--dark-text);
 }