header {
    text-align: center;
    background-color: var(--primary-color);
    padding: 5%;
}

header h1 {
    font-family: "Bungee Inline", sans-serif;
    color: var(--dark-text);
}

header ul {
    padding: 0;
    list-style: none;
    font-size: 1.25em;
    text-align: center;
}

#search {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#searchButton {
    border: none;
    background-color: transparent;
    margin: 0px;
    padding-left: 0px;
    padding-right: 10px;
}

#searchButton img {
    width: 25px;
    padding: 0px;
    color: var(--secondary-color);
}

#searchButton img:hover {
    background-color: var(--accent-color);
    border-radius: 5px;
}

#searchInput {
    font-size: 1.1em;
    margin: 0px;
    border: none;
    border-radius: 5px;
}

@media screen and (min-width: 700px) {
    
    header {
        padding: 0px;
        display: flex;
        justify-items: space-between;
    }

    header h1 {
        order: 2;
        align-self: center;
    }
    
    header li {
        padding: 20px;
    }

    header ul {
        order: 1;
        display: flex;
        justify-content: left;
    }

    nav {
        margin-left: 0px;
        padding:0;
    }

    #search {
        order: 3;
        justify-self: last baseline;
        text-align: right;
        margin-right: 10px;
    }
}