@import 'header.css';
@import 'global.css';
@import 'variables.css';

.addButton{
    width: 85%;
    padding: 15px;
    font-size: 1.25em;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.addButton:active{
    background-color: var(--dark-text);
}

.foodItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    background-color: var(--primary-color);
    box-sizing: border-box;
    font-size: 1.1em;
    opacity:.01;
    transition: 1s;
}

.foodItem.show{
    opacity: 1;
}

.foodTitle{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    color: var(--dark-text);
}

.macros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--accent-color);
    width: 50%;
    aspect-ratio: 4.5/1;
    color: var(--dark-text);
}

#searchResults{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    max-height:0px;
    overflow: hidden;
    transition: 2s;
}

#searchResults.show{
    max-height: 10000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
}
