@import 'header.css';
@import 'global.css';
@import 'variables.css';
@import 'footer.css';

.buttons button {
    width: 85%;
    padding: 15px;
    font-size: 1.25em;
    margin: 15px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: var(--dark-text);
}

canvas{
    width: 100% !important;
    height:auto !important;
    display: block;
}

#graphSection {
    width: 90%;
    max-width: 800px;
    aspect-ratio: 16/9;
    border: var(--dark-text) solid 3px;
    border-radius: 5px;
    margin: 20px auto;
    position: relative;
}

@media screen and (min-width: 700px) {
    .buttons {
        width: 70%;
    }
    #graph {
        width: 70%;
    }    
}

@media screen and (min-width: 1100px) {
    .buttons {
        flex-direction: row;
        width: 70%;
    }
}